* {
	font-family: "Exo 2";
	background-color: rgb(231, 210, 245);
	color: black;
	margin-left: 3.5vw;
	margin-right: 3.5vw;
	text-align: left;
	font-size: 1.5vw;
}

.link{
	font-size: 1.75vw;
}

.l{
	text-align: center;
	margin-top: 4vw;
}

.link:hover {
	color: red;
}

h1 {
	text-align: center;
	font-size: 3vw;
	padding: 2.5vw;
	padding-bottom: 0%;
}

h2 {
	text-align: center;
	padding-top: 10%;
	font-size: 2.25vw;
}

.research{
	margin-top: 0vw;
}

.ending {
	padding-bottom: 15vh;
}

.takeaways {
	padding-top: 5vw;
}
